<p>Welcome to the Pokedex, you own personal Pokemon directory!</p>

{{#link-to 'pokemon' tagName='button'}} See your Pokemon {{/link-to}}
{{#link-to 'items' tagName='button'}} See your Items {{/link-to}}
