<h3> Your Pokemon </h3>

{{#each model as |eachPokemon|}}
  {{pokemon-snippet pokemon=eachPokemon
    routeUpdatePokemon='updatePokemon'
    routeDestroyPokemon='destroyPokemon'
  }}
{{/each}}

{{outlet}}
